@charset "utf-8";


/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }


  /* Force scrollbar */
  html { overflow-y: scroll; }

  /* Align radios and text inputs with their label */

  input[type='radio'] { vertical-align: text-bottom; }

  /* Hand cursor on clickable input elements */
  label,
  input[type='button'],
  input[type='submit'],
  button {
    cursor: pointer;
  }

  strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
  }

  em { font-style: italic; }

  img {
    border: 0;
    vertical-align: middle;
  }

  sub,
  sup {
   vertical-align: baseline;
   position: relative;
   font-size: 55%;
   line-height: 0;
 }

 sup { top: -.7em; }

 sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 .futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}


/* ======= Your Styling Goes Below ======= */
img { width:100%; }

body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

.container { position: relative; }
.header_top { padding: 13px 0; }


.header_top .wrapper,
.header_bottom .wrapper {
  width: 94.6%;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
}

.header_contact li:first-child {
  padding-right: 25px;
  font-size: 15px;
  text-transform: capitalize;
}

.header_top { background: #2F2F2F; }
.header_contact li { vertical-align: middle; }

.header_contact,
.header_contact li a {
  color: #AEAEAE;
  font-size: 15px;
  transition: .3s ease all;
}

.header_contact a:hover { color: #DAB326; }
.header_contact li span:first-child:before {content: "\f041"; }
.header_contact li a:first-child:before { content: "\f095"; }

.header_contact li span:first-child:before,
.header_contact li a:first-child:before {
  margin-right: 5px;
  color: #DAB326;
  font-family: fontAwesome;
  font-size: 22px;
}

.social li:nth-child(1) a:after { content: "\f09a"; }
.social li:nth-child(2) a:after { content: "\f099"; }
.social li:nth-child(3) a:after { content: "\f0d5"; }
.social li:nth-child(4) a:after { content: "\f27d"; }
.social li:nth-child(5) a:after { content: "\f167"; }
.social li:nth-child(6) a:after { content: "\f231"; }

.social li a:hover:after {
  transform: scale(1.5);
  text-shadow: 0 0 10px #DAB326;
}

.social {
  display: flex;
  line-height: .5;
  justify-content: space-between;
}

.social li { width: 12%; }

.social li a {
  font-size: 18px;
  transition: .8s ease all;
  text-indent: -99999px;
}

.social li a:after {
  margin-right: 13px;
  display: block;
  color: #fff;
  font-family: fontAwesome;
  font-size: 15px;
  text-indent: 0;
}

.header_contact li address { display: inline-block; }
.header_bottom {
  width: 100%;
  position: absolute;
  top: 90px;
  z-index: 1;
}

h1 a { text-indent: -999999px; }
 
h1 img { 
  float: left;
  text-indent: 0;
}

nav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav li { padding-right: 15px; }

nav .ham {
  padding-right: 2px;
  display: none;
  vertical-align: middle;
}

.ham span:first-child { margin-top: 0; }

.ham span {
  width: 15px;
  height: 2px;
  margin: 2px 0;
  display: block;
  background: #DAB326;
  text-indent: -99999px;
}

nav li a {
  color: #EFEFF2;
  font-size: 15px;
  text-transform: uppercase;
}

.dropdown-content { z-index: 2; }
.dropdown-content a {
  display: block;
  z-index: 2;
}

.dropdown-content { display: none; }
li .dropdown:hover .dropdown-content { display: block; }

.active_nav:after {
  content: "\f107";
  margin-left: 5px;
  color: #DAB326;
  font-family: fontAwesome;
  font-size: 15px;
  text-align: center; 
}

.active_nav { color: #DAB326; }

.dropdown:after {
  content: "\f107";
  margin-left: 5px;
  color: #EFEFF2;
  font-family: fontAwesome;
  font-size: 15px;
  text-align: center;
}

form div::before {
  content: "\f002";
  float: right;
  color: white;
  font-family: fontAwesome;
  font-size: 24px;
  font-weight: 100;
  opacity: 0.5;
  text-indent: 0;
}

form div {
  display: inline-block;
  text-indent: -9999px;
}

.slider_img img { display:none; }

.slider_img li:first-of-type img {  display: block; }

.content a {
  padding: 23px 41px 23px 41px;
  position: absolute;
  top: 52%;
  left: 38.9%;
  background: #f6c400;
  border-radius: 4px;
  color: white;
  font-size: 15px;
  font-family: sans-serif;
  text-transform: uppercase;
}

.slider_buttons a {
  display: inline-block;
  text-indent: -9999px;
}

.slider_buttons a::before {
  content: "\f111";
  float: right;
  color: white;
  font-family: fontAwesome;
  font-size: 16px;
  font-weight: 100;
  opacity: 0.5;
  text-indent: 0;
}

.slider_buttons .slide-active{ color:red; }
.slider_buttons li { margin-left:15px; }

.content h2 {
  position: absolute;
  top: 30%;
  left: 25.2%;
  color: white;
  font-family: sans-serif;
  font-size: 75px;
  text-transform: uppercase;
  font-weight: bold;
}

.content p {
  position: absolute;
  top: 42.7%;
  left: 17.3%;
  color: white;
  font-family: sans-serif;
  font-size: 23px;
  text-transform: uppercase;
  font-weight: bold;
}

.slider_buttons {
  position: absolute;
  left: 45.9%;
  bottom: 99px;
  opacity: 0.8;
}

.slider_container .wrapper {position: relative; }

.our_history .wrapper { display:flex; }

.history h3 {
  margin-top: 102px;
  margin-bottom: 56px;
  font-size: 22px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.uppercase {
  margin-bottom: 14px;
  font-family: sans-serif;
  opacity: 0.8;
  line-height: 32px;
  text-transform: uppercase;
}

.history { width:37%; }

.info {
  width: 83.6%;
  margin: 0 auto;
}

.history a {
  padding: 20px 41px 20px 41px;
  margin-top: 46px;
  background: #f6c400;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  text-transform: uppercase;
}

.history p {
  line-height: 25px;
  opacity: 0.5;
}

.info >ul >li {
  width: calc((100% - 30px) / 3);
  display: inline-block;
  list-style-type: none;
}

.our_history img {
  margin-top: 66px;
  margin-left: 24px;
}

.recent_news li:not(:first-child) { margin-left: 30px; }

.recent_news h3 {
  margin-bottom: 8%;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.recent_news { margin-top: 13.3%; }

.recent_news li p {
  margin-top: 27px;
  line-height: 27px;
  opacity: 0.5;
  text-transform: capitalize;
}

.recent_news ul {
  display: flex;
  justify-content: space-between;
}

h4 {
  margin-top: 31px;
  margin-bottom: 19px;
  font-size: 20px;
  opacity: 0.8;
  text-transform: uppercase;
}

.date{
  color: #f6c400;
  font-size: 14px;
  font-style: italic;: 
}



